{% extends 'base.html' %} {% block header %}
<title>Login first to See content</title>
{% endblock %} {% block content %}
<h1>Login to See all uploaded Files</h1>
{% if error %}
<h3 style="color: red">{{ error }}</h3>
{% endif %}

<form action="{{ url_for('admin_bp.login') }}" method="post">
  <div class="mb-3 mt-3">
    <label for="username" class="form-label">Email:</label>
    <input
      type="text"
      class="form-control"
      id="username"
      placeholder="Enter username"
      name="username"
    />
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password:</label>
    <input
      type="password"
      class="form-control"
      id="password"
      placeholder="Enter password"
      name="password"
    />
  </div>
  <button type="submit" class="btn btn-primary" value="LOGIN">Submit</button>
</form>

{% endblock %}
